<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Validate Request</title>
    <meta charset="UTF-8">
</head>
<body>

<h1>Validate Request</h1>

<form action="#" th:action="@{/executeTask}" th:object="${request}" method="post">
    <p>
        Id: <input type="text" th:field="*{id}">
    </p>
    <p>
        Request details: <input type="text" th:field="*{description}">
    </p>
    <p>
        Do you valid the request?: <input type="text" th:field="*{valid}">
    </p>
    <p>
        Submit URL (should be hidden in real life): <input type="text" th:field="*{submitURL}">
    </p>
    <p>
        <input type="submit" value="Submit"/> <input type="reset" value="Reset">
    </p>
</form>

</body>
</html>